body {
    background: grey;
    padding: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
}

.menu {
    background: rosybrown;
    border: 2px solid black;
    float: left;
    box-sizing: border-box;
    width: 240px;
    padding: 10px;
    margin: 0;
    margin-right: 20px;
    height: 850px;
}

.time-year {
    border: 2px solid chocolate;
    list-style-type: none;
    margin-bottom: 10px;
}

.mir {
    background: peachpuff;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    width: 896px;
    height: 850px;
    font-size: 24px;
    box-sizing: border-box;
}

.link {
    font-size: 24px;
    color:chocolate;
}